<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}UFiX{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" />
    <link
      rel="icon"
      type="image/png"
      href="{{ asset('img/icon-onglet.png') }}"
    />
    {% endblock %}
  </head>
  <body>
    
    <section class="hero">
      <!-- page head-->
      <div class="hero-head">

        <!-- navbar -->
        {% block navbar %}
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="#">
              <img src="{{ asset('img/logo_white.png') }}" alt="Logo UFix"/>
            </a>

            <a
              role="button"
              class="navbar-burger burger"
              aria-label="menu" 
              aria-expanded="false"
              data-target="navbarBasicExample"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-center is-size-6">
              <a class="navbar-item" href="{{ path('new_ad') }}">
                Déposer une annonce
              </a>
              <a class="navbar-item" href="{{ path('home_connected') }}">
                Rechercher une annonce
              </a>
              <a class="navbar-item" href="{{ path('edit_product') }}">
                Mes annonces
              </a>
            </div>
            <div class="navbar-center-mobile is-hidden-desktop"></div>

            <div class="navbar-end">
              <div class="navbar-item">
                <a class="navbar-item" href="{{ path('profil_page') }}">
                  <span class="icon is-medium">
                    <i class="far fa-user is-size-6"></i>
                  </span>
                </a>
                <a class="navbar-item" href="{{ path('messaging') }}">
                  <span
                    class="icon is-small-desktop is-medium-mobile is-medium-tablet"
                  >
                    <i class="far fa-comment-alt is-size-6"></i>
                  </span>
                </a>
                <a class="navbar-item" href="{{ path('ads_saved') }}">
                  <span class="icon is-medium">
                    <i class="far fa-heart is-size-6"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </nav>
        {% endblock %}
      </div>
    </section>

    {% block body %}{% endblock %}

    <!-- Footer -->
    <section class="hero">
      <div class="hero-footer">
        {% block footer %}
        <div class="columns is-vcentered">
          <div class="column">
            <p
              class="has-text-left-desktop has-text-centered-mobile has-text-left-tablet"
            >
              <a href="{{ path('legal_mentions') }}" class="is-size-7">Mentions légales</a>
              |
              <a href="{{ path('contact') }}" class="is-size-7">Nous contater</a>
              |
              <a href="{{ path('cgu') }}" class="is-size-7">CGU</a>
            </p>
          </div>
          <div class="column">
            <p class="has-text-centered is-size-7">@UFiX 2019</p>
          </div>
          <div class="column">
            <p
              class="has-text-right-desktop has-text-centered-mobile is-size-7 has-text-right-tablet"
            >
              Retrouvez-nous sur :
              <a href="https://twitter.com/UFixFR" class="icon-reseaux">
                <span class="icon is-medium">
                  <i class="fab fa-twitter"></i>
                </span>
              </a>
              <a href="https://www.facebook.com/uFixFR/" class="icon-reseaux">
                <span class="icon is-small">
                  <i class="fab fa-facebook-f"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
        {% endblock %}
      </div>
    </section>

    {% block javascripts %}
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
    ></script>
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"
    ></script>
    <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
    {% endblock %}
  </body>
</html>
